<nb-card class="text-center">
	<nb-card-header i18n>
		Using scenario {{this.scenarioService.scenario.name}}
	</nb-card-header>
	<nb-card-body>
		{{scenarioService.scenario.description}}
	</nb-card-body>
</nb-card>
<div class="text-center">
	<nb-card>
		<nb-card-header i18n>
			Current step:
		</nb-card-header>
		<nb-card-body>
			{{scenarioService.currentStep.description}}
		</nb-card-body>
	</nb-card>
</div>

<div *ngIf="scenarioService.nextStepList.length !== 0" class="text-center">
	<div i18n>
		Possible next steps
	</div>
	<nb-icon class="mt-2" icon="arrow-downward-outline">
	</nb-icon>
</div>

<div *ngFor="let step of scenarioService.scenario.steps" class="mt-4 text-center">
	<nb-card
		*ngIf="(scenarioService.nextStepList.includes(step.id) || scenarioService.alwaysAvailableStepList.includes(step.id)) && !scenarioService.uniquePreviousSelectedSteps.includes(step.id)">
		<nb-card-header>
			{{step.description}}
		</nb-card-header>
		<div [ngSwitch]="step.type">
			<nb-card-body *ngSwitchCase="'initiator'">
				<div class="font-weight-bold" i18n>
					Selecting this step triggers the following action:
				</div>
				<div class="mt-2">
					{{(step.eventInfo | initiatorConverter).description}}
				</div>
			</nb-card-body>
			<nb-card-body *ngSwitchCase="'select'">
				<div class="font-weight-bold" i18n>
					Select the options you want to use
				</div>
				<nb-select (selectedChange)="onValueChange(step, $event)" class="mt-3 mb-2" i18n i18n-placeholder
						   placeholder="A selection is required" size="large">
					<nb-option *ngFor="let option of (step.eventInfo | selectConverter).options"
							   [value]="option.key">{{option.description}}</nb-option>
				</nb-select>
			</nb-card-body>
			<nb-card-body *ngSwitchCase="'input'">
				<div class="font-weight-bold" i18n>
					Enter the value you want to use
				</div>
				<input
					(input)="onValueChange(step, $event.target['value']); checkValue(step.eventInfo, $event.target['value'])"
					class="mt-3 mb-4" i18n i18n-placeholder nbInput
					placeholder="Enter a value"/>
				<div *ngIf="!(step.eventInfo | inputConverter).isValid" class="font-weight-lighter mt-2" i18n>
					The value must match the pattern: {{(step.eventInfo | inputConverter).validatorHint}}
				</div>
			</nb-card-body>
		</div>
		<nb-card-footer>
			<button (click)="onSelectClick(step)"
					[disabled]="calculateDisabledState(step)"
					i18n nbButton>Select
			</button>
		</nb-card-footer>
	</nb-card>
</div>
